body
{
    background-color: rgb(227, 226, 243) !important;
}
.samllScreenButton
{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 10px;
    width: 100%;
    z-index: 3;
}
@media (min-width : 780px) {
    .samllScreenButton
    {
        display: none;
    }
}